@charset "utf-8"
@import "normalize"

.content
  padding: 20px
  display: flex

profile-container
  padding-right: 30px

grid
  width: 100%
  heigh: 50vh


box
  display: inline-block
  width: 10px
  height: 10px
  border: 1px solid black

  &.w1
    background-color: hsla(113, 100%,86%, 1)
  &.w2
    background-color: hsla(113, 82%,60%, 1)
  &.w3
    background-color: hsla(113, 82%,30%, 1)

  &.l1
    background-color: hsla(0, 100%,90%, 1)
  &.l2
    background-color: hsla(0, 82%, 60%, 1)
  &.l3
    background-color: hsla(0, 83%, 30%, 1)
