.content
  %profile-container
    %avatar
    %playertag
      %h1 PlayerOne#1309
    %mainrace
      %h2 Protoss

  %stats-container
    %recentgames
      Last 10 games

      %ul
        %li 1v1 Lost Temple (WIN)
        %li 1v1 Lost Temple (WIN)
        %li 1v1 Lost Temple (WIN)
        %li 1v1 Lost Temple (WIN)
        %li 1v1 Lost Temple (WIN)
        %li 1v1 Lost Temple (WIN)
        %li 1v1 Lost Temple (WIN)

    
    %grid
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
