.content
  %profile-container
    %avatar
    %playertag
      %h1 Buddy Magsipoc
    %mainrace
      %h2 Test

    %joined
      Joined Novemebr 11, 2015
  %stats-container
    .summary
      %recentgames
        Last 10

        %ul
          %li 1v1 Lost Temple (WIN)
          %li 1v1 Lost Temple (WIN)
          %li 1v1 Lost Temple (WIN)
          %li 1v1 Lost Temple (WIN)
          %li 1v1 Lost Temple (WIN)
          %li 1v1 Lost Temple (WIN)
          %li 1v1 Lost Temple (WIN)

      %miscstats
        %games_count
          %p Games in the last year
          %p 513
          %p Nov 17, 2014 - Nov 17, 2015
        %games_count
          %p Games in the last year
          %p 300
          %p Nov 17, 2014 - Nov 17, 2015



    %grid
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1

      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1
      %box.w3
      %box.l2
      %box.w1
      %box.w2
      %box.none
      %box.w2
      %box.l3
      %box.w3
      %box.w2
      %box.none
      %box.l1

